<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

        <link href='{{ asset("//fonts.googleapis.com/css?family=Fredoka+One")}}' rel='stylesheet' type='text/css'>
        <link href='{{ asset("css/bootstrap.min.css")}}' rel="stylesheet" type="text/css">
        <link href='{{ asset("css/style.css")}}' rel="stylesheet" type="text/css"/>

        <script src='{{ asset("js/simpleCart.min.js")}}'></script>

     <script src='{{ asset("js/jquery-2.1.4.min.js")}}'></script>
     <script src='{{ asset("js/bootstrap.min.js")}}'></script>


            <script src='{{ asset("js/imagezoom.js")}}'></script>
              <script defer src='{{ asset("js/jquery.flexslider.js")}}'></script>
            <link rel="stylesheet" href='{{ asset("css/flexslider.css")}}' type="text/css" media="screen" />

            <script>

            $(window).load(function() {
              $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
              });
            });
            </script>




        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "default/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "default/footer.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
